body {
    /* Font is Roboto */
    font-family: 'Roboto', sans-serif;

    /* Background is off-white */
    background-color: #F5F5F5;
}

.link-hover {
    transition: 0.3s;
    color: var(--bs-light-text-emphasis);
}

.link-hover:hover {
    transition: 0.3s;
    color: var(--bs-dark-bg-subtle);
}

.link-hover-text {
    transition: 0.3s;
    color: var(--bs-light-text-emphasis);
}

.link-hover-text:hover {
    transition: 0.3s;
    color: var(--bs-dark-bg-subtle);
}

.pill-hover {
    transition: 0.3s;
    background-color: var(--bs-success-bg-subtle);
}

.pill-hover:hover {
    transition: 0.3s;
    background-color: var(--bs-success);
}

.long-text-box {
    min-height: 10rem;
    max-height: 10rem;
}

.dbpedia-info {
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchBox {
    transition: 0.5s;

    opacity: 25%;
}

.searchBox:has(input:focus) {
    transition: 0.5s;

    opacity: 50%;
    outline: 2px solid var(--bs-info);
}

.searchBox i {
    transition: 0.5s;

    scale: 50%;

    opacity: 25%;
}

.searchBox:has(input:focus) i {
    transition: 0.5s;

    animation: searchPop 0.5s;
    scale: 75%;

    opacity: 50%;
}

.searchBox:has(input:focus) i:hover {
    transition: 0.2s;

    opacity: 100%;
}

.searchBox input {
    transition: 0.2s;

    scale: 90%;

    outline: 0;
}

.searchBox input:focus {
    transition: 0.5s;

    scale: 100%;
}

.notification-icon {
    transition: 0.5s;

    scale: 75%;

    opacity: 75%;
}

.notification-icon:hover {
    transition: 0.2s;

    scale: 100%;

    /* 'Ding' the bell by rotating it and then returning it to its original position as an animation */
    animation: ding 0.3s;


    opacity: 50%;
}

.mh-200 {
    max-height: 200px;
}

.text-shadow {
    text-shadow: 1px 1px 1px #c4c4c4;
}

@keyframes ding {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes searchPop {
    50% {
        transform: scale(120%);
    }
    100% {

    }
}

#postMap {
    z-index: 500;
    position: relative;
}

.overflow-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}