<footer class=" bg-light text-center">
    <div class="container">
        <span class="text-muted">&copy; 2024 Plant Recognition Application. All rights reserved.</span>
    </div>
</footer>

<script src="/javascripts/service_worker/activate_sw.js"></script>
<script src="/javascripts/idb/idb.js"></script>
<script src="/javascripts/idb/posting_idb.js"></script>
<script src="/javascripts/idb/comments_idb.js"></script>