<div class="border w-100 align-content-center d-flex p-1 rounded-5 bg-secondary-subtle">
    <div class="d-inline-flex align-content-center w-100">
        <img class="rounded-circle img-fluid shadow my-auto"
             src="https://ui-avatars.com/api/?name=<%= `${user.first_name}+${user.last_name}`%>&background=random&color=fff"
             style="width: 40px" alt="User Profile Picture">
        <p class="text-start my-auto mx-2"><strong><%= user.first_name %> <%= user.last_name %></strong></p>
    </div>
</div>