<%- include("../components/navbar.ejs") %>
<div class="container">
    <h1>Admin Dashboard</h1>
    <p>Welcome to the admin dashboard!</p>
    <ul>
        <li><a href="/admin/users">Manage Users</a></li>

    </ul>
</div>

<%- include("../components/footer.ejs") %>