<%- include("../components/header") %>

<div class="d-flex justify-content-center align-items-center w-100 vh-100 container-fluid">
    <form class="border border-2 p-5 shadow-lg rounded-2" method="POST" action="/login">
        <!-- Temporary logo -->
        <div class="bg-success p-3 rounded-3 mb-3">
            <h1 class="h1 fw-bold text-white mb-0 text-center">Plant Book</h1>
        </div>
        <h1 class="h2 mb-3 font-weight-normal text-center">Login</h1>
        <div class="form-group mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Your username" required autofocus>
        </div>
        <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button class="btn btn-lg btn-primary d-block me-auto ms-auto" type="submit">Sign in</button>
        <p class="mb-0 mt-3">Don't have an account? Register <a href="/register" class="link-offset-2 fw-bold">here</a></p>
    </form>
</div>
