<%- include("../components/navbar") %>

<div class="container-md mt-5">
    <h2 class="text-center mb-3">Your Notifications</h2>

    <form action="" class="container mb-3">
        <div class="row justify-content-md-center gy-3">
            <button class="btn btn-danger align-self-end col-sm-auto" id="mark-all" type="button">Mark all as read</button>
            <div class="form-group col-sm-5 ">
                <label for="sortByDate" class="form-label text-center d-block">Sort by date</label>
                <select name="sortByDate" id="sortByDate" class="form-control w-100">
                    <option value="mostRecent">Most Recent</option>
                    <option value="oldest">Oldest</option>
                </select>
            </div>
            <div class="form-group col-sm-5">
                <label for="notificationType" class="form-label text-center d-block">Type</label>
                <select name="notificationType" id="notificationType" class="form-control w-100">
                    <option value="allPosts">All</option>
                    <option value="yourPosts">Your posts</option>
                    <option value="commentedPosts">Commented posts</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary align-self-end col-sm-auto">Filter</button>
        </div>

    </form>
    <div id="error-box">
        <div class="bg-danger text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
            <div class="align-self-center">
                Sorry! There was an error while loading the notification feed.
            </div>
        </div>
    </div>
    <div id="update-spinner">
        <div class="bg-primary text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
            <div class="align-self-center">
                Loading Most Recent Notifications...
            </div>
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div id="notifications-wrapper">

    </div>
    <div id="loading-spinner">
        <div class="bg-success text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
            <div class="align-self-center">
                Loading More Notifications...
            </div>
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div id="notifications-end">
        <div class="bg-success text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
            <div class="align-self-center">
                End of the notification feed
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/notifications/notifications.js"></script>
<%- include("../components/footer") %>
