<div class="post" >
    <div class="post-header">
        <h3 class="post-title">Post Title</h3>
        <p class="post-date">Date: January 1, 2023</p>
    </div>
    <div class="post-content">
        <p>Hello How are you</p>
    </div>
</div>