<%- include("../components/header")%>
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-10">
            <div class="card bg-light p-3">
                <div class="row my-3">
                    <div class="col-md-3 text-center">
                        <h4>Logo</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <div class="col-md-3 text-center">
                        <h4>Logout</h4>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-2 text-center">
                        <h5>For</h5>
                    </div>
                    <div class="col-md-10">
                        <select class="form-select">
                            <option value="rose">Rose Plant</option>
                            <option value="sunflower">Sunflower Plant</option>
                            <option value="cactus">Cactus Plant</option>
                        </select>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-2 text-center">
                        <h5>Order</h5>
                    </div>
                    <div class="col-md-10">
                        <select class="form-select">
                            <option value="recent">Most Recent</option>
                            <option value="least-recent">Least Recent</option>
                            <option value="oldest-first">Oldest First</option>
                        </select>
                    </div>
                </div>

                <hr>

                <h4>Posts</h4>
                <hr>
                <%- include("../user/post") %>
                <%- include("../user/post") %>
                <%- include("../user/post") %>

            </div>
        </div>
    </div>
</div>
