<%- include("../components/navbar.ejs") %>

<script src="/javascripts/posts/create_post.js"></script>

<div class="container-fluid mt-3">
    <div class="row my-2">
        <div class="col-12">
            <h2 class="text-center">Create Post</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">

                    <form action="/post" method="POST" enctype="multipart/form-data">

                        <div class="row mt-2">
                            <div class="col-12">
                                <p class="small m-0 fst-italic mx-2 mb-1">Posting as...</p>
                                <div class="border p-3">
                                    <p class="p-0 m-0 align-content-center d-flex overflow-x-hidden text-nowrap">
                                        <img class="rounded-5 my-auto mx-1"
                                             src="https://ui-avatars.com/api/?name=<%= `${user?.first_name}+${user?.last_name}` %>&background=random&color=fff"
                                             width="50">
                                        <a class="link-hover text-decoration-none fw-medium my-auto px-2"><span
                                                    class="fs-5"><%= `${user?.first_name} ${user?.last_name}` %></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-center">Post Details:</p>
                                            </div>
                                        </div>

                                        <div class="mb-3 form-floating">
                                            <input type="text" class="form-control" id="name" name="name" required>
                                            <label for="name">Title:</label>
                                        </div>

                                        <div class="mb-3 form-floating">
                                            <textarea class="form-control" id="description" name="description" required
                                                      style="height: 100px; max-height: 250px;"></textarea>
                                            <label for="description">Description:</label>
                                        </div>


                                        <div class="form-floating">
                                            <input type="datetime-local" class="form-control" id="seenAt" name="seenAt"
                                                   required>
                                            <label for="seenAt">Seen At:</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-center">Plant Information:</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-floating mt-2">
                                                    <input type="number" class="form-control" id="height" name="height"
                                                           required>
                                                    <label for="height">Height (cm):</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating mt-2">
                                                    <input type="number" class="form-control" id="spread" name="spread"
                                                           required>
                                                    <label for="spread">Spread (cm):</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mt-2">
                                            <div class="row align-content-center">
                                                <div class="col-md-3 my-auto">
                                                    <p class="my-auto mx-2 w-100 text-center text-md-start">Sun
                                                        Exposure:</p>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">

                                                        <div class="col-4">
                                                            <input class="btn-check" type="radio" name="sunExposure"
                                                                   id="fullSun"
                                                                   value="Full Sun"
                                                                   required checked>
                                                            <label class="btn btn-outline-secondary w-100"
                                                                   for="fullSun"><i
                                                                        class="fa-solid fa-sun fa-2x"></i></label>
                                                        </div>

                                                        <div class="col-4">
                                                            <input class="btn-check" type="radio" name="sunExposure"
                                                                   id="partialSun"
                                                                   value="Partial Sun">
                                                            <label class="btn btn-outline-secondary w-100"
                                                                   for="partialSun"><i
                                                                        class="fa-solid fa-cloud-sun fa-2x"></i></label>
                                                        </div>

                                                        <div class="col-4">
                                                            <input class="btn-check" type="radio" name="sunExposure"
                                                                   id="fullShade"
                                                                   value="Full Shade">
                                                            <label class="btn btn-outline-secondary w-100"
                                                                   for="fullShade"><i
                                                                        class="fa-solid fa-cloud fa-2x"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="mt-2">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p class="my-auto mx-2 text-center text-sm-start">Does this plant
                                                        have
                                                        flowers?</p>
                                                </div>

                                                <div class="col-md-9 px-4">
                                                    <div class="d-flex d-md-block justify-content-center">
                                                        <div class="form-check form-switch">
                                                            <label class="form-check-label px-2"
                                                                   for="hasFlowers">Yes</label>
                                                            <input class="form-check-input" type="checkbox"
                                                                   role="switch"
                                                                   id="hasFlowers"
                                                                   name="hasFlowers" style="transform: scale(1.5)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mt-2">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="flowerColor" class="visually-hidden">Flower
                                                        Color:</label>
                                                    <p class="my-auto mx-2 text-center text-sm-start">Flower Color:</p>
                                                </div>

                                                <div class="col-md-9">
                                                    <input type="color" class="form-control" id="flowerColor"
                                                           name="flowerColor"
                                                           value="#2A970C">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-floating mt-2">
                                            <div class="form-group mt-2">
                                                <div class="row align-content-center">
                                                    <div class="col-md-3 my-auto">
                                                        <p class="my-auto mx-2 w-100 text-center text-md-start">Leaf
                                                            Type:</p>
                                                    </div>

                                                    <div class="col-md-9">
                                                        <div class="row justify-content-center">
                                                            <div class="col-3">
                                                                <div class="form-check mx-2">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="leafType"
                                                                           id="leafy"
                                                                           value="Leafy"
                                                                           required>
                                                                    <label class="form-check-label"
                                                                           for="leafy">Leafy</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-3">
                                                                <div class="form-check mx-2">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="leafType"
                                                                           id="needles"
                                                                           value="Needles">
                                                                    <label class="form-check-label"
                                                                           for="needles">Needles</label>
                                                                </div>
                                                            </div>

                                                            <div class="col-3">
                                                                <div class="form-check mx-2">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="leafType"
                                                                           id="none"
                                                                           value="None" checked>
                                                                    <label class="form-check-label"
                                                                           for="none">None</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mt-2">
                                            <div class="row align-content-center">
                                                <div class="col-md-3 my-auto">
                                                    <p class="my-auto mx-2 w-100 text-center text-md-start">Plant
                                                        Fruit/Seed:</p>
                                                </div>

                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="form-check mx-2">
                                                                <input class="form-check-input" type="radio"
                                                                       name="fruitSeed"
                                                                       id="fruit"
                                                                       value="Fruit"
                                                                       required>
                                                                <label class="form-check-label"
                                                                       for="fruit">Fruit</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-3">
                                                            <div class="form-check mx-2">
                                                                <input class="form-check-input" type="radio"
                                                                       name="fruitSeed"
                                                                       id="seed"
                                                                       value="Seed">
                                                                <label class="form-check-label" for="seed">Seed</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-3">
                                                            <div class="form-check mx-2">
                                                                <input class="form-check-input" type="radio"
                                                                       name="fruitSeed"
                                                                       id="none"
                                                                       value="None" checked>
                                                                <label class="form-check-label" for="none">None</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-3">
                                                            <div class="form-check mx-2">
                                                                <input class="form-check-input" type="radio"
                                                                       name="fruitSeed"
                                                                       id="unknown"
                                                                       value="Unknown/Other">
                                                                <label class="form-check-label"
                                                                       for="unknown">Unknown/Other</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mt-2">
                                            <div class="form-group mt-2">
                                                <div class="row align-content-center">
                                                    <div class="col-md-3 my-auto">
                                                        <p class="my-auto mx-2 w-100 text-center text-md-start">
                                                            Images:</p>
                                                    </div>

                                                    <div class="col-md-9">
                                                        <input type="file" class="form-control-file" id="images"
                                                               name="images" multiple>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p class="text-center">Where was this plant seen?</p>
                                                </div>
                                            </div>
                                            <input type="hidden" id="location" name="location" required>
                                            <label for="location" class="visually-hidden">Location:</label>
                                            <button type="button" class="btn btn-primary my-1 w-100"
                                                    id="useCurrentLocation">Use
                                                Current
                                                Location
                                            </button>
                                            <div id="map" style="height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card bg-success-subtle">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 justify-content-center">
                                                <p class="text-center m-0">Identification:</p>
                                                <p class="text-center small">(This section is optional)</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="identifiedAs">If you know what this plant is, please enter the
                                                name here:</label>
                                            <input type="text" class="form-control" id="identifiedAs"
                                                   name="identifiedAs">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../components/footer.ejs") %>