<%- include("../components/navbar.ejs") %>
<div class="container-fluid col-xl-6 col-lg-10 col-md-10 col-sm-mt-5">

    <div class="container-fluid col-lg-10 col-md-10 mt-5">
        <div class="card mb-3 rounded-4 bg-info-subtle" id="pendingPostsBanner">
            <div class="card-body text-center">
                <p>You have <span id="pendingPostsCount">[X]</span> pending posts</p>
                <p>These will be uploaded once you are connected to the internet</p>
            </div>
        </div>
        <form method="GET">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="sortBy">Sort by:</label>
                        <select class="form-select" id="sortBy">
                            <option value="time">Time</option>
                            <option value="numOfComments">Number of Comments</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="filterBy">Filter by:</label>
                        <select class="form-select" id="filterBy">
                            <option value="all">All</option>
                            <option value="completed">Completed</option>
                            <option value="inProgress">In Progress</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" type="submit">Apply</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div id="error-box">
            <div class="bg-danger text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
                <div class="align-self-center">
                    Sorry! There was an error while loading the feed.
                </div>
            </div>
        </div>
        <div id="update-spinner">
            <div class="bg-primary text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
                <div class="align-self-center">
                    Loading Most Recent Posts...
                </div>
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div id="feed-wrapper">
        </div>
    </div>
    <div id="loading-spinner">
        <div class="bg-success text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
            <div class="align-self-center">
                Loading More Posts...
            </div>
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div id="feed-end">
        <div class="bg-success text-white p-3 rounded-3 d-flex me-auto ms-auto col-md-6 col-sm-8 col-xl-4 justify-content-around mb-3">
            <div class="align-self-center">
                End of the feed
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/feed/feed.js"></script>

<%- include("../components/footer.ejs") %>