<!-- TODO: Remove these links once the full layout is implemented -->
<!-- Bootstrap CSS and JS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<!-- Custom CSS and JS -->
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center">[Post Name]</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div>
                                <div class="carousel slide carousel-dark" id="plantImages">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#plantImages" data-bs-slide-to="0"
                                                class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#plantImages" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#plantImages" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="https://placehold.co/600x400?text=I1" class="img-fluid"
                                                 alt="Post Image">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://placehold.co/600x400?text=I2" class="img-fluid"
                                                 alt="Post Image">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://placehold.co/600x400?text=I3" class="img-fluid"
                                                 alt="Post Image">
                                        </div>
                                    </div>

                                    <button class="carousel-control-prev" type="button" data-bs-target="#plantImages"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>

                                    <button class="carousel-control-next" type="button" data-bs-target="#plantImages"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>